
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrganizationUserLabel">Create or edit a Organization User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.organizationUser.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.organizationUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                    ng-model="vm.organizationUser.username"
                    required/>
            <div ng-show="editForm.username.$invalid">
                <p class="help-block"
                    ng-show="editForm.username.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                    ng-model="vm.organizationUser.uuid"
                    />
        </div>

        <div class="form-group">
            <label for="field_organization">Organization</label>
            <select class="form-control" id="field_organization" name="organization" ng-model="vm.organizationUser.organizationId" ng-options="organization.id as organization.name for organization in vm.organizations"             required>
            </select>
        </div>
        <div ng-show="editForm.organization.$invalid">
            <p class="help-block"
                ng-show="editForm.organization.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
