
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGeneralEventLabel">Create or edit a General Event</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.generalEvent.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.generalEvent.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.generalEvent.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.generalEvent.type" id="field_type">
                <option value="MASS">MASS</option>
                <option value="ADORATION">ADORATION</option>
                <option value="RETREAT">RETREAT</option>
                <option value="ROSARY">ROSARY</option>
                <option value="WAY_OF_THE_CROSS">WAY_OF_THE_CROSS</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dayOfWeek">Day Of Week</label>
            <select class="form-control" name="dayOfWeek" ng-model="vm.generalEvent.dayOfWeek" id="field_dayOfWeek">
                <option value="MONDAY">MONDAY</option>
                <option value="TUESDAY">TUESDAY</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.generalEvent.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.generalEvent.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ageLimit">Age Limit</label>
            <input type="number" class="form-control" name="ageLimit" id="field_ageLimit"
                    ng-model="vm.generalEvent.ageLimit"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_host">Host</label>
            <input type="text" class="form-control" name="host" id="field_host"
                    ng-model="vm.generalEvent.host"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_venue">Venue</label>
            <input type="text" class="form-control" name="venue" id="field_venue"
                    ng-model="vm.generalEvent.venue"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitude">Latitude</label>
            <input type="text" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.generalEvent.latitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitude">Longitude</label>
            <input type="text" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.generalEvent.longitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cycle">Cycle</label>
            <select class="form-control" name="cycle" ng-model="vm.generalEvent.cycle" id="field_cycle">
                <option value="ONE_OFF">ONE_OFF</option>
                <option value="DAILY">DAILY</option>
                <option value="WEEKLY">WEEKLY</option>
                <option value="MONTHLY">MONTHLY</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_time">Time</label>
            <input type="text" class="form-control" name="time" id="field_time"
                    ng-model="vm.generalEvent.time"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_language">Language</label>
            <input type="text" class="form-control" name="language" id="field_language"
                    ng-model="vm.generalEvent.language"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="vm.generalEvent.createdBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdOn">Created On</label>
                <div class="input-group">
                    <input id="field_createdOn" type="text" class="form-control" name="createdOn" datetime-picker="{{dateformat}}" ng-model="vm.generalEvent.createdOn" is-open="vm.datePickerOpenStatus.createdOn"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdOn')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                    ng-model="vm.generalEvent.lastUpdatedBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastUpdatedOn">Last Updated On</label>
                <div class="input-group">
                    <input id="field_lastUpdatedOn" type="text" class="form-control" name="lastUpdatedOn" datetime-picker="{{dateformat}}" ng-model="vm.generalEvent.lastUpdatedOn" is-open="vm.datePickerOpenStatus.lastUpdatedOn"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdatedOn')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_charges">Charges</label>
            <input type="number" class="form-control" name="charges" id="field_charges"
                    ng-model="vm.generalEvent.charges"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contact1">Contact 1</label>
            <input type="text" class="form-control" name="contact1" id="field_contact1"
                    ng-model="vm.generalEvent.contact1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contact1Value">Contact 1 Value</label>
            <input type="text" class="form-control" name="contact1Value" id="field_contact1Value"
                    ng-model="vm.generalEvent.contact1Value"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contact2">Contact 2</label>
            <input type="text" class="form-control" name="contact2" id="field_contact2"
                    ng-model="vm.generalEvent.contact2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contact2Value">Contact 2 Value</label>
            <input type="text" class="form-control" name="contact2Value" id="field_contact2Value"
                    ng-model="vm.generalEvent.contact2Value"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contact3">Contact 3</label>
            <input type="text" class="form-control" name="contact3" id="field_contact3"
                    ng-model="vm.generalEvent.contact3"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contact3Value">Contact 3 Value</label>
            <input type="text" class="form-control" name="contact3Value" id="field_contact3Value"
                    ng-model="vm.generalEvent.contact3Value"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_charged">Charged</label>
                <input type="checkbox" name="charged" id="field_charged"
                          ng-model="vm.generalEvent.charged"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contentStatus">Content Status</label>
            <select class="form-control" name="contentStatus" ng-model="vm.generalEvent.contentStatus" id="field_contentStatus">
                <option value="DRAFT">DRAFT</option>
                <option value="PUBLISHED">PUBLISHED</option>
                <option value="UNPUBLISHED">UNPUBLISHED</option>
                <option value="DELETED">DELETED</option>
                <option value="BLOCKED">BLOCKED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                    ng-model="vm.generalEvent.uuid"
                    />
        </div>

        <div class="form-group">
            <label for="field_organization">Organization</label>
            <select class="form-control" id="field_organization" name="organization" ng-model="vm.generalEvent.organizationId" ng-options="organization.id as organization.name for organization in vm.organizations"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
